/* Base y reset */
html {
    font-size: medium;
}

html body {
    background-color:black;
    color: white;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Navegación */
.navbar{
    background-color:#000;
    padding: 1rem 0;
    justify-content: center;
    width: 100%;
    display: flex;
}

.navbar .container-fluid{
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

.navbar-brand{/*el logo de la empresa level up*/
    font-size: 1.8rem;
    font-weight: bold;
}

.navbar-brand:hover{/*efecto cuando esta el raton por encima*/
    color:#79b0eb;
}

.navbar-nav{/*lista de navegacion*/
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.nav-item{
    margin: 0;
}

.navbar.navbar-expand-lg .navbar-brand,
.navbar.navbar-expand-lg .nav-link {/*letras en blanco del navegador*/
    color: #fff; 
}

/*Slider*/
.carousel {
    position: relative;
    width: 100%;
    height: 90vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 10px; 
}

.carousel-inner, .carousel-item {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.carousel-item img {
    width: 100%;
    height: 90vh;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.carousel-indicators {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0;
    z-index: 2;
}

.carousel-indicators button {
    background-color: #fff;
    opacity: 0.5;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
}

.carousel-indicators .active {
    opacity: 1;
}

/*Acerca de*/
#home {
  background-color: black;
}

#home .row {
  display: flex;
  align-items: stretch; /* iguala la altura de todos los hijos */
  min-height: 450px;
}

#home .col-md-6 {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}

.content-wrapper, .map-wrapped{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home h2 {
  font-weight: 400;
  font-size: 50px;
  color: white;
  text-align: center;
}

#home h4{
    font-weight: 300;
    color: white;
    margin-bottom: 20px;
}

#home p {
  font-size: 16px;
  line-height: 1.6;
  text-align: left;
}

.map-wrapped img {
  border-radius: 10px;
  object-fit: cover;
}

/*Actividades*/ 
#about{
    padding: 50px 20px;
    text-align: center;
    font-size: 20px;
}

#about h2{
    font-weight: 400;
    font-size: 50px;
    color:white;
    margin-bottom: 10px;
}

#about h4{
    font-weight: 300;
    color: white;
    margin-bottom: 20px;
}

.hero-container {
    position: relative;
    padding: 20px;
}

.hero-image {
    width: 600px;
    height:300px;
    border-radius: 0.375rem; /* rounded */
    max-width: 100%;
}

.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3; /* z-3 */
}

.hero-logo {
    width: 130px;
    background: transparent;
    
}
/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 1200px;
    max-height: 90%;
    padding: 20px;
    border-radius: 8px;
    animation: zoom 0.3s;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #fff;
}

@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/*Tarifa*/
#tarifa {
    padding: 50px 20px;
    text-align: center;
    font-size: 20px;
}

#tarifa header h2 {
    font-weight: 400;
    font-size: 50px;
    color: white;
    margin-bottom: 10px;
}

#tarifa h4{
    font-weight: 300;
    color: white;
    margin-bottom: 20px;
}

#tarifa h5{
    font-weight: 500;
    color: black;
    margin-bottom: 10p;
}

#tarifa p {
    font-weight: 400;
    font-size: 1.1rem;
    color: black;
    margin-bottom: 15px;
}

.tarifa .flip-card {
    perspective: 1000px;
    height: 450px;
    width: 100%;
}

.tarifa .faq-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
}

.tarifa .flip-card-front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column; /* Cambiado: columna para que pregunta arriba y respuesta abajo */
    justify-content: flex-start; /* Arriba: alinea al inicio (top) */
    align-items: center; /* Centra horizontalmente todo el contenido */
    background-color: #ddda0b; 
    border-radius: 10px;
}

.tarifa .btn {
    background-color: white;
    color: black;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.tarifa .btn:hover {
    background-color: #0056b3;
}

/* FAQ */
.FAQ {
    padding: 50px 20px;
    text-align: center;
    font-size: 20px;
}

#preguntas h2 {
    font-weight: 400;
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

#preguntas h4{
    font-weight: 300;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.faq-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center; 
}

.faq-item {
    flex: 0 0 calc(33.333% - 40px/3); 
    max-width: calc(33.333% - 40px/3); 
    box-sizing: border-box; 
}

.faq-item h3 {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 10px;
    text-align: center; /* Centra la pregunta horizontalmente */
    color:black;
}

.faq-item p {
    font-weight: 400;
    font-size: 1rem;
    text-align: center; /* Centra la respuesta horizontalmente */
    margin: 0; /* Elimina márgenes extras para un mejor flujo */
    color:#000;
}

.faq .flip-card {
    width: 100%;
    height: 250px;
    position: relative;
    perspective: 1000px;
    margin-bottom: 10px;
}

.faq .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.faq .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.faq .flip-card-front,
.faq .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#ddda0b;
    border-radius: 10px;
}

.faq .flip-card-back {
    background-color: #ddda0b;
    transform: rotateY(180deg);
}
/* Ajustes para responsividad */
@media (max-width: 992px) {
    .faq-item {
        flex: 0 0 calc(50% - 20px/2); 
        max-width: calc(50% - 20px/2);
    }
}

@media (max-width: 576px) {
    .faq-grid {
        gap: 15px;
    }
    
    .faq-item {
        flex: 0 0 100%; 
        max-width: 100%;
    }

    .FAQ {
        padding: 30px 15px; 
    }

    .FAQ h2 {
        font-size: 2rem;
    }

    .faq-item {
        padding: 10px; 
    }
    
    .flip-card {
        height: 120px;
    }
}


/* Secciones y artículos */
main {
    padding: 2rem;
}

article {
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    background-color: #fafafa;
}

/*Imagenes*/
#img {
    padding: 50px 20px;
    text-align: center;
    font-size: 20px; 
}

#img h2{
    font-weight: 400;
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}

#img h4{
    font-weight: 300;
    color: white;
    margin-bottom: 20px;
}

.carousel {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.img .carousel-inner, .carousel-item {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.img .carousel-item img {
    width: 100%;
    height: 800px;
    object-fit: cover;
    object-position: center;
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.img .carousel-indicators {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0;
    z-index: 2;
}

.img .carousel-indicators button {
    background-color: #fff;
    opacity: 0.5;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px;
}

.img .carousel-indicators .active {
    opacity: 1;
}


/* Formulario */
#contact h2{
    font-weight: 400;
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}

#contact h4{
    font-weight: 300;
    color: white;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    background-color: #837b7b;
    border-radius: 10px;
    padding: 50px 20px;
}

input, textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #ddda0b;
    color: #000;
}

footer p{
    margin-bottom: 5px;
    font-size:15px ;
}

footer img{
    width:30px;
    height: 30px;
}
